* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #616266;
    place-content: center;
    align-items: center;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.container {
    position: absolute;
    width: 350px;
    height: 400px;

}

.character {
    position: absolute;
    height: 348px;
    width: 100%;
    overflow: hidden;
}

.credits {
    position: absolute;
    bottom: 0;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}

.credits a {
    color: #fff;
    background-color: #E1118B;
    padding: 5px;
    border-radius: 15%;
    text-decoration: none;
}

.credits a:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #9809CA;
}
