doctype html
html(lang='en')
    head
        title Creepie
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="style.css")
    body
        .center
            .body
                .hair_ponytail-l
                    .spike-1-l
                    .spike-2-l
                    .spike-3-l
                    .spike-4-l
                    .spike-5-l

                .hair_ponytail-r
                    .spike-1-r
                    .spike-2-r
                    .spike-3-r
                    .spike-4-r
                    .spike-5-r

                .hair
                    .hair_spike-l
                    .hair_spike-r

                .head
                    .hair-i-l
                    .hair-i-r
                    .hair_bang-l
                    .hair_bang-r

                    .eyebrow-l
                    .eyebrow-r

                    .eyelid-l
                    .eyelid-r

                    .eye-l
                    .eye-r

                    .pupil
                    .nose
                    .mouth
                    .smile

                    .cheek-l
                    .cheek-r

                .hair_back-l
                .hair_back-r

                .eyelash-l
                .eyelash-r

            .credits
                p Inspirated by 
                    a(href="https://hero.fandom.com/wiki/Frank_and_Len_(Ruby_Gloom)" target="__blank") this shot