doctype html
html(lang='en')
    head
        title webpack5
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="./style.css")
    body      
        .center 
            .box
                .skull
                    .left
                        .eyesbrow
                        .eyelid
                            .eye
                                .pupil
                    .right
                        .eyesbrow
                        .eyelid
                            .eye
                                .pupil
                    .nose
                    .mouth
                    .smile
                        .teeth
                // Arms
                .left
                    .arm
                        .bones
                        .glove
                        .fingers
                            .thumb
                .right
                    .arm
                        .bones
                        .glove
                        .fingers
                            .thumb
                .chest
                
                .belt

                // Pants
                .pants
                    .leg-l
                    .femur-l
                    
                    .leg-r
                    .femur-r

                .legs-bones
                
                // Shoes
                .left
                    .shoe
                        .decoration
                        .insole
                .right
                    .shoe
                        .decoration
                        .insole
            .shadow