doctype html
html(lang='en')
    head
        title Skull boy
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .center 
            .box