doctype html
html(lang='en')
    head
        title Creepie
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="style.css")
    body


.credits 
p Inspirated by  
a(href="https://doblaje.fandom.com/es/wiki/Creepie" target="__blank") this shot