doctype html
html(lang='en')
    head
        title Frank y Len
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="./index.css")
        
    body
        .container 
            .credits
                p Inspirated by 
                    a(href="https://hero.fandom.com/wiki/Frank_and_Len_(Ruby_Gloom)" target="__blank") this shot

            .character
                // Frank
                .frank 
                    .hair
                        .wicks
                    .head
                        .eyebrow
                        .eyebrow.right
                        .eye
                        .eye.right
                        .nose
                        .mouth
                        .cheeks
                    .neck
                    
                // Len
                .len
                    .hair
                        .wick-1
                        .wick-2
                        .wick-3
                        .wick-4
                        .wick-5
                    .head
                        .eye-left
                        .eye-right
                        .eyebrow
                        .eyebrow.right
                            .earring
                        .nose
                        .mouth
                        .freckles
                        .ear
                        .neck

                .arm-left
                    .hand-left
                        .finger-1
                        .finger-2
                        .finger-3

                .arm-right
                    .hand-right
                        .finger-1
                .t-shirt
                    .props
                .guitar
                    .part-1
                    .part-2
                    .part-3
                    .part-4
                    .part-5
                .top
                    .peg.a
                    .peg.b
                    .peg.c

                .bottom 
                    .peg.a
                    .peg.b
                    .peg.c