doctype html
html(lang='en')
  head
    title webpack5
    meta(charset='utf-8')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="./index.css")
    body

      .container 
        h1 Frank and Len
        p Inspirated by 
          a(href="https://hero.fandom.com/wiki/Frank_and_Len_(Ruby_Gloom)" target="__blank") this shot</a></p>

        .character
          .frank 
            .head
              .eye
              .eye.right

              .nose
