doctype html
html(lang='en')
    head
        title Grogu
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./index.css")

    body
        .container
            .character
                .grogu
                    .ear-left 
                        .border
                    .ear-right
                    .head
                        .forehead
                        .eye-left
                        .eye-right
                        .mouth
                    .arm
                        .hand
                    .coat

                .cradle
                    .cover-top
                    .cover-bottom
                    .accessory
                    .shadow
            .cradle-shadow
            .credits
                p Inspirated by 
                    a(href="https://www.amazon.com.mx/TeeTurtle-Playera-Ajuste-cl%C3%A1sico-Camiseta/dp/B083Z574VR" target="__blank") this shot