doctype html
html(lang='en')
    head
        title webpack5
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="style.css")
    body
        .center
            .igor
                .ear
                .ear-r
                .hair
                    .wick-style.wick-center
                            .wick-style.wick-1
                            .wick-style.wick-2
                            .wick-style.wick-3
                            .wick-style.wick-4
                            .wick-style.wick-5
                            .wick-style.wick-6
                .head 
                    .eyebrow
                    .eye
                    .nose
                    .mouth
                    .line
                .arm