@use 'variable';

.crouch{
    background: variable.$sprite-background;
    animation: crouch 0.5s steps(1) infinite;
    height: 73px;
    width: 48px;
    background-position: -300px -34px;
}

@keyframes crouch {
    0%{
        background-position: -300px -34px;
    }
    
    50%{
        
        background-position: -348px -30px;
    }

}