body{
    margin: 0;
    padding: 0;
}

.naruto{
    position: absolute;
    bottom: 17px;
    left: 48px;
}

.background{
    background: url('../image/background.jpg') no-repeat;
    background-size: cover;
    height: 50vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    overflow: hidden;
    /* padding: 148px; */
    box-sizing: border-box;
}


