.jump-back{
    background: url('../image/sprit.png') no-repeat;
    animation: jump-back 0.5s steps(1) infinite;
}

@keyframes jump-back {
    0%{
        background-position: -271px -361px;
    }
    
    30%{
        
        background-position: -91px -361px;
    }

    100%{
        background-position: -271px -361px;
    }
    
}