.Kyubi{
    background: url('../image/sprit.png') no-repeat;
    background-position: -1px -2399px;
    width: 129px;
    animation: Kyubi 0.8s steps(1) infinite;
}

@keyframes Kyubi {
    0%{
        background-position: -1px -2399px;
    }
    20%{
        background-position: -131px -2399px;
    }
    40%{
        background-position: -261px -2399px;
    }
    60%{

        background-position: -391px -2399px;
    }
    80%{
        background-position: -521px -2399px;
    }
}