doctype html
html(lang='en')
    head
        title boilerplate
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./index.css")

    body
        .container
            .character

            .credits
                p Inspirated by 
                    a(href="#" target="__blank") this shot
